@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

h4 {
  @apply text-base font-bold;
}

.tiptap,
.job-post-preview {
  a {
    color: #0070f3;
  }

  ol {
    padding-left: 1.5rem;
    list-style: decimal;

    li {
      line-height: 2.5rem;

      p {
        margin-left: 0.5rem;
      }
    }
  }

  ul {
    padding-left: 2rem;

    li {
      position: relative;
      line-height: 2.5rem;
    }

    li::before {
      content: url(/icons/check.svg);
      position: absolute;
      left: -2rem;
      top: 0.5rem;
    }
  }
}
